        <div class="content_tile">
            <div class="picture">
                <h1>Bewerben</h1>

                In unserem Haus kann sich jeder männliche Student bewerben, der sich an der Universität Münster oder an
                einer Fachhochschule in Münster beworben hat bzw. eingeschrieben ist. Bewerbungen sind jederzeit
                möglich.

                <h2>Bewerbungsverfahren</h2>
                Bitte übersenden Sie uns:
                <ul>
                    <li> Anschreiben</li>
                    <li> Bewerbungsbogen (download)</li>
                    <li> Lebenslauf</li>
                    <li> zwei Referenzen. Diese sollten von Seelsorgern, Lehrern oder Leitern verfasst sein und die
                        Persönlichkeit und das Engagement (z.B. bei den Messdienern, KJG, Pfadfinder, KLJB, Musik,
                        Theater,
                        etc.
                        und/oder in sozialen Einrichtungen) des Bewerbers darstellen. Kennt der Bewerber einen
                        (ehemaligen)
                        Breulianer, kann auch dieser eine zusätzliche Referenz fertigen.
                    </li>
                    <li> zwei Lichtbilder</li>
                </ul>
                <br><br>
                Die Bewerbungsunterlagen senden Sie bitte vollständig an: <br> <br>
                <em>Deutsches Studentenheim <br>
                    z.H. des Heimleiters <br>
                    Breul 23 <br>
                    48143 Münster</em> <br> <br>
                Nachdem Sie Ihre Unterlagen eingereicht haben, laden wir Sie zu einem Bewerbungsgespräch mit den
                Vertretern der Studenten und dem Heimleiter ein. In diesem Gespräch geht es darum, sich kennenzulernen
                und zu ergründen, ob Ihre Vorstellungen des Zusammenlebens zu unserem Haus passen.
                <br><br>
                Generell werden Studenten der unteren Semester bevorzugt.

                </ul>
    </div>
</div>