<div class="content_tile">
    <div class="picture">
        <h2>Bewohner Info</h2>
        Seniorbeitrag <p ng-show="user.seniorDues">bezahlt</p>

        <p ng-hide="user.seniorDues">nicht bezahlt</p> <br>
        Netzwerkbeitrag <p ng-show="user.networkDues">bezahlt</p>

        <p ng-hide="user.seniorDues">nicht bezahlt</p><br>
    </div>
</div>
<div class="content_tile">
    <div class="picture">
        <h2>Bahrdienst</h2>
        Heute hat {{barduty}} Bardienst<br>
    </div>
</div>

<div class="content_tile">
    <div class="picture">
        <h2>Letzte Beiträge</h2>
        Heute hat {{barduty}} Bardienst<br>
    </div>
</div>

<div class="content_tile">
    <div class="picture">
        <h2>Listen</h2>
        Heute hat {{barduty}} Bardienst<br>
    </div>
</div>