<div class="content_tile">
    <div class="content_tile_inner">
        <h2>Bewohner Info</h2>
        Seniorbeitrag <a ng-show="user.seniorDues">bezahlt</a><a ng-hide="user.seniorDues">nicht bezahlt</a> <br>
        Netzwerkbeitrag <a ng-show="user.networkDues">bezahlt</a><a ng-hide="user.seniorDues">nicht bezahlt</a><br>
    </div>
</div>
<div class="content_tile">
    <div class="content_tile_inner">
        <h2>Bahrdienst</h2>
        Heute hat {{barduty}} Bardienst<br>
    </div>
</div>

<div class="content_tile">
    <div class="content_tile_inner">
        <h2>Letzte Beiträge</h2>
        Heute hat {{barduty}} Bardienst<br>
    </div>
</div>

<div class="content_tile">
    <div class="content_tile_inner">
        <h2>Listen</h2>
        Heute hat {{barduty}} Bardienst<br>
    </div>
</div>