<div ng-controller="barChargeCtrl">
    <div class="content_tile">
        <div class="content_tile_inner">
            <div ng-repeat="item in items">
                <div class="row">
                    <div class="col-md-3">
                        {{item.name}}:
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input type="text" class="form-control">

                            <div class="input-group-btn">
                                <!-- Button and dropdown menu -->
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                </div>
            </div>
        </div>
    </div>
</div>