<div ng-controller="mainCtrl">

    <div class="content_tile">
        <div class="content_tile_inner">
            <img width="100%" src="http://breul23.de/fortuna/uploads/2014/07/Kapelle.jpg">
        </div>
    </div>
    <div class="content_tile">
        <div class="content_tile_inner">
            <h2>Willkommen</h2>
            auf der Internetpräsenz des Deutschen Studentenwohnheims Breul 23 im Herzen von Münster. Das
            Breul
            und seine
            Strukturen sowie seine Bewohner vermögen es, jungen Menschen, die den Schritt ins Studentenleben
            wagen, die
            Grundlagen für einen Einstieg zu verschaffen. Die Menschen, die dem Haus seine Ausstrahlung
            verleihen, bauen
            Brücken zwischen Nationalitäten, Studenten nahezu aller Fachrichtungen und auch zwischen
            Generationen. Das
            ‚Breul‘ ist für viele junge Studenten unlängst ein zweites Zuhause geworden, mit dem sie sich
            identifizieren
            können. Genau deshalb finden sich seit über 80 Jahren immer wieder Menschen zusammen, die für
            das
            Haus
            eintreten, es mit Leben zu füllen und gemäß dem Motto des Hauses Brücken zu bauen
            beginnen.<br><br>
            Viel Freude beim Entdecken unseres Wohnheims.<br>
        </div>
    </div>
</div>
