<div ng-controller="announcementsCtrl">
    <div class="row">
        <div ng-class="{'col-md-8': session.user}">
            <div ng-repeat="announcement in announcements">
                    <div class="content_tile">
                        <div class="content_tile_inner">
                            <h2>{{announcement.title}}</h2>
                            {{announcement.content}}
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="session.user" class="col-md-4">
            <side-bar></side-bar>
        </div>
    </div>
</div>